<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0 h2" href="#"><span class="text-warning">Chennai</span><span class="text-success">Food</span><span class="text-light">Org</span></a>
      <div class="w-100"></div>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/admin/logout">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="?viewType=2">
                  <span data-feather="file"></span>
                  Food details
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="?viewType=1">
                  <span data-feather="shopping-cart"></span>
                  Registered Users
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="?viewType=3">
                  <span data-feather="users"></span>
                  Customers Feedback
                </a>
              </li>
              </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <a href="?viewType=2" class="btn btn-sm btn-outline-secondary">Food details</a>
                <a href="?viewType1" class="btn btn-sm btn-outline-secondary">Registered Users</a>
              </div>
              <a href="?viewType=3" class="btn btn-sm btn-outline-secondary">
                Customers Feedback
              </a>
            </div>
          </div>

          <div class="container-fluid">
                <%- body %> 
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Icons -->
    
  </body>
</html>
