<div class="card card-body text-center">
        <h2 class="text-center"><i class="fa fa-sign-in"></i> Contact form 
        </h2>
        <%if(msg!=""){%>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">            <button type="button" class="close" data-dismiss="alert" aria-label="Close">              <span aria-hidden="true">&times;</span>   </button>                                     <%=msg%>                            </div>
        <%}%> 
        
        <form action="/contact" method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input required
                    type="text"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="Enter your name"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input required
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter email"
                  />
                </div>
                
                <div class="form-group">
                        <label for="message">Body</label>
                        <textarea required
                          type="email"
                          id="message"
                          name="message"
                          class="form-control"
                          placeholder="Enter Password">
                          </textarea>
                      </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </form>
              <p class="lead mt-4">  <a href="/">Back to home</a></p>
        </div>
        