

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/banner.png" alt="Los Angeles" class="img">
      <div class="carousel-caption" style="text-shadow: #000000 0px 0px 10px ;">
        <h3>Chennai's Food waste managemnt </h3>
                <p>We are here to help the poor and needy who is suffering to get their food</p>
        <a href='/login' class="btn btn-primary">Get Started! </a>
      </div>   
    </div>
</div>
</div>
<div class="card card-body">
  <h2 class="text-dark text-center mb-5">Login or Register to Continue...</h2>
  <div class="row">
      <div class="col-sm-6"><a href="/login" class="btn btn-primary btn-block">Login</a></div>
    <div class="col-sm-6"><a href="/register" class="btn btn-primary btn-block">Register</a></div>
    </div>
    <div class="">
      <% msg=''; %> 
      <%- include("contact") %> 
    </div>
</div>