

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/black.png" alt="Los Angeles" class="img-container">
      <div class="carousel-caption">
        <h3>Chennai's Food waste managemnt </h3>
                <p>We are here to help the poor and needy who is suffering to get their food</p>
        <button class="btn btn-primary">Our previous missions </button>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/images/black.png" class="img-container"  alt="Chicago">
      <div class="carousel-caption">
        <h3>About Us!</h3>
        <p>Our crew include 4 members and we will take the excess or waste food in your area.
          Click below to know more about us!
        </p>
        <button class="btn btn-primary pull">Click here!</button>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/images/black.png" class="img-container"  alt="New York">
      <div class="carousel-caption">
        <h3>So why are you waiting!</h3>
        <p>Click the below button to sign in/ register to continue</p>
        <button class="btn btn-primary pull">Get started</button>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>